.appContainer {
	height: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background-color: #282c34;
}

.App-header {
	background-color: #282c34;
  }

p {
	color:antiquewhite;
  }
  
.App {
	text-align: center;
	background-color: #282c34;
  }

  html {
	background-color: #282c34;
  }